body{
    background: #b17979;
    padding: 0px;
    text-align: center;
}
table,tr,th,td{
    padding: 20px;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 800px;
    border: 2px solid pink;
    border-collapse: collapse;
}